.bar {
  height: 100%; 
  width: 100%; 
  top: 0;  
  left: 0;
  background-color: #060f1c;  
  padding-top: 60px;  
  transition: 0.5s; 
}

#main {
  transition: margin-left .5s;
}

.row {
  margin-bottom: 10px;
}

.code-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../img/selfClass.png');
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 1.0)), url('../img/selfClass.png');*/
  background-size: cover;
  margin-bottom: 30px;
  color: white;
  background-repeat: no-repeat;
  bottom: 0px;
  position: fixed;
}

.container-fluid {
  padding-top: 40px;
}

picture img {
  margin-bottom: 30px;
}

.profile {
  max-height: 200px;
  margin-bottom: 30px;
}

.btn {
  margin: 3px;
}

.block {
  padding: 80px;
}

.foot-nav {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.1));
  position: fixed;
  bottom: 0;
  width: 100%;
}

.foot-nav a {
  color: white;
}

.important {
  color: #00ffff !important;
}

.btn-outline-lj {
  color: #00ffff;
  background-color: transparent;
  background-image: none;
  border-color: #00ffff;
}

  .btn-outline-lj:focus, .btn-outline-lj.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 255, 0.5);
}

  .btn-outline-lj:hover {
  color: #fff;
  background-color: #29c4c4;
  border-color: #29c4c4;
}

.neon {
  text-shadow: 1px 1px 3px #00ffff, -1px -1px 3px  #00ffff, -1px 1px 3px  #00ffff, 1px -1px 3px #00ffff;
  color: black;
}

.card-lj {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-color: #00ffff;
}

.card-lj h5 {
  color: #00ffff;
}

label a {
  color: #00ffff;
}

#mutant {
  overflow-y: auto;
  max-height: 70vh;
}

.t-card {
  max-width: 100px;
}