.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1;  
  top: 0;  
  left: 0;
  background-color: #060f1c;  
  /*overflow-x: hidden;*/
  padding-top: 60px;  
  transition: 0.5s;  
}

.bar {
  height: 100%; 
  width: 100%; 
  position: fixed;
  z-index: 1;  
  top: 0;  
  left: 0;
  background-color: #060f1c;  
  padding-top: 60px;  
  transition: 0.5s; 
}

 
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

 
.sidenav a:hover {
  color: #f1f1f1;
}

 
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

 
#main {
  transition: margin-left .5s;
}

 
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.top-bar {
  background-color: #060f1c;
  color: #fff;
  background-color: transparent;
  position: absolute;
}

.row {
  margin-bottom: 10px;
}

.code-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../img/selfClass.png');
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 1.0)), url('../img/selfClass.png');*/
  background-size: cover;
  margin-bottom: 30px;
  color: white;
}

.container-fluid {
  padding-top: 40px;
}

picture img {
  margin-bottom: 30px;
}

.profile {
  max-height: 200px;
  margin-bottom: 30px;
}

.btn {
  margin: 3px;
}

.block {
  padding: 80px;
}

.foot-nav {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.1));
  position: fixed;
  bottom: 0;
  width: 100%;
}

.foot-nav a {
  color: white;
}

.important {
  color: #00ffff !important;
}

.btn-outline-lj {
  color: #00ffff;
  background-color: transparent;
  background-image: none;
  border-color: #00ffff;
}

  .btn-outline-lj:focus, .btn-outline-lj.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 255, 0.5);
}

  .btn-outline-lj:hover {
  color: #fff;
  background-color: #29c4c4;
  border-color: #29c4c4;
}

.neon {
  text-shadow: 1px 1px 3px #00ffff, -1px -1px 3px  #00ffff, -1px 1px 3px  #00ffff, 1px -1px 3px #00ffff;
  color: black;
}

.card-lj {
  color: #00ffff;
  background-color: transparent;
  background-image: none;
  border-color: #00ffff;
}