<footer class="foot-nav navbar" id="footer">
	<div class="btn-group btn-group-toggle" data-toggle="buttons">
  		<label class="btn btn-dark">
  			<input type="radio" name="options" id="option1" autocomplete="off"> Home
  		</label>
  		<label class="btn btn-dark">
    		<input type="radio" name="options" id="option2" autocomplete="off"> Besides programming
  		</label>
  		<label class="btn btn-dark">
    		<input type="radio" name="options" id="option3" autocomplete="off"> Academics
  		</label>
  		<label class="btn btn-dark">
    		<input type="radio" name="options" id="option3" autocomplete="off"> Skills
  		</label>
  		<label class="btn btn-dark">
    		<input type="radio" name="options" id="option3" autocomplete="off"> Contact
  		</label>
	</div>
	<!--		<a href="#" class="btn btn- primary">Works</a>
			<a href="#">Besides programming</a>
			<a href="#">Academics</a>
			<a href="#">Skills</a>
			<a href="#">Contact</a>-->
		</footer>