<footer class="foot-nav navbar" id="footer">
	<div class="btn-group btn-group-toggle" data-toggle="buttons">
  		<label class="btn btn-dark">
  			<a href="/">Home</a>
  		</label>
  		<label class="btn btn-dark">
    		<a href="/works">Works</a>
  		</label>
  		<!--<label class="btn btn-dark">
    		<a href="/notcode">Besides programming</a>
  		</label>-->
  		<label class="btn btn-dark">
    		<a href="/academics">Academics</a>
  		</label>
  		<label class="btn btn-dark">
    		<a href="/skills">Skills</a>
  		</label>
  		<label class="btn btn-dark">
    		<a href="/contact">Contact</a>
  		</label>
	</div>
</footer>