{% extends 'layout.html' %}

    {% block body %}

    <div class="card mb-3 card-lj">
  		<div class="row no-gutters">
   			<div class="col-md-4">
     			<img src="../static/img/works/fatec.png" class="card-img" alt="...">
   			</div>
    		<div class="col-md-8">
      			<div class="card-body">
        			<h5 class="card-title">Information technology management</h5>
        			<p class="card-text">Focused on know how to use information and software for better management of companies. It teaches how to build apps using <strong>C#, MySQL</strong> and some more tools.</p>
      			</div>
      			<div class="card-footer">
      				<span class="text-muted">Start: 29/07/2019</span><br/>
      				<span class="text-muted">Finish (preview): 01/07/2022</span>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="card mb-3 card-lj">
  		<div class="row no-gutters">
   			<div class="col-md-4">
     			<img src="../static/img/works/fatec.png" class="card-img" alt="...">
   			</div>
    		<div class="col-md-8">
      			<div class="card-body">
        			<h5 class="card-title">System analysis and development</h5>
        			<p class="card-text">Thsis course focus a lot more in technical stuff, like data structure, Object oriented programming and software engeneering. Also based in <strong>C#</strong></p>
      			</div>
      			<div class="card-footer">
      				<span class="text-muted">Start: 30/01/2015</span><br/>
      				<span class="text-muted">Finish: 10/12/2017</span>
      			</div>
    		</div>
  		</div>
	</div>

    {% endblock %}