{% extends 'layout.html' %}

    {% block body %}
<h3>Know me more:</h3>
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
  					
    		    <a href="/works" class="btn btn-outline-lj">Works</a>
            <a href="/notcode" class="btn btn-outline-lj">Besides programming</a>
  					<a href="/academics" class="btn btn-outline-lj">Academics</a>
            <a href="/skills" class="btn btn-outline-lj">Skills</a>
            <a href="/contact" class="btn btn-outline-lj">Contact</a>
  					
        </div>
        <div class="row container-fluid">
          <p>Hi, my name is Yan, and i'm a developer of lots of things.
          <br/>I started to learn code as a child, in <strong>mIRC</strong>, and some years after
          i graduated at <strong>System and analysis development</strong>.
          Somewhere in the way i fell in love with <strong class="important">python</strong>, what's i've beeing studying so far, and what i used
          to make this site, and many other things. But that's not all!<br/>
          I like to learn any kind of thing, like <strong>Machine learning, JavaScript, Database management, System Architheture</strong> and a lot more.
          <br/><br/>
          Make sure to check the links above, i'm excited to meet you too!
          </p>
        </div>
     {% endblock %}