<!DOCTYPE html>
<html>
<head>
	<title>Yan's Portfolio</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/custom.css">
</head>
<body id="main">
	<header>
		<!--<div id="mySidenav" class="sidenav">
			<img src="img/tapir.png" class="img-fluid">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="#" class="nav-item">Home</a>
			<a href="#" class="nav-item">Works</a>
			<a href="#" class="nav-item">Besides programming</a>
			<a href="#" class="nav-item">Academic</a>
			<a href="#" class="nav-item">Contact</a>
		</div>-->
	</header>
	<div class="code-background bar" id="bar">
		<div class="row block" id="content">
			<div class="col-lg-4 text-center">
				<img src="../static/img/me.jpg" class="img-fluid img-thumbnail profile" alt="...">
				<h2>Yan Carvalho</h2>
				<h4>Developer</h4>
				<p>
					Web developer, data scientist aspirant <br/>and absolutely curious
				</p>
			</div>
			<div class="col-lg-6 text-center">
				<h3>Know me more:</h3>
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
  					<label class="btn btn-secondary">
    					<input type="radio" name="options" id="option1" autocomplete="off"> Works
  					</label>
  					<label class="btn btn-secondary">
    					<input type="radio" name="options" id="option2" autocomplete="off"> Besides programming
  					</label>
  					<label class="btn btn-secondary">
    					<input type="radio" name="options" id="option3" autocomplete="off"> Academics
  					</label>
  					<label class="btn btn-secondary">
    					<input type="radio" name="options" id="option3" autocomplete="off"> Skills
  					</label>
  					<label class="btn btn-secondary">
    					<input type="radio" name="options" id="option3" autocomplete="off"> Contact
  					</label>
				</div>
			</div>
		</div>
		<footer class="navbar foot-nav" id="footer">
			<a href="#">Works</a>
			<a href="#">Besides...</a>
			<a href="#">Academics</a>
			<a href="#">Skills</a>
			<a href="#">Contact</a>
		</footer>
	</div>
</body>
	<script src="js/scripts.js"></script>
</html>