<!DOCTYPE html>
<html>
<head>
	<title>Yan's Portfolio</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/custom.css">
</head>
<body id="main">
	<div class="code-background bar" id="bar">
		<div class="row block" id="content">
			<div class="col-lg-4 .col-md-1 text-center">
				<img src="../static/img/me.jpg" class="img-fluid img-thumbnail profile" alt="...">
				<h2>Yan Carvalho</h2>
				<h4>Developer</h4>
				<p>
					Web developer, data scientist aspirant <br/>and absolutely curious
				</p>
			</div>
			<div class="col-lg-8 col-md-11" id="mutant">
				{% block body %}{% endblock %}
			</div>
		</div>
		{% include 'includes/footer.html' %}
	</div>
</body>
	<script src="js/bootstrap.js"></script>
	<script src="js/scripts.js"></script>
</html>