{% extends 'layout.html' %}

    {% block body %}

    <h3>Me outsite code lines</h3>
    <div class="container">
    	<div class="row">
    		<h5>RPG</h5>
    		<p>I am a RPG master, also a player, but mastering is such a fun role too. I can play anything, but i only master d&d 3.5 and shadowrun 5. My favourite roles are Sorcerer, Rogue and warlock.
    		</p>
    	</div>

    	<div class="row">
    		<h5>Piano</h5>
    		<p>Some years ago i decided to learn this instrument, and here am i, listening those impossible chopin songs wondering if someday i'll be able to play them. But always trying!
    		</p>
    	</div>

    	<div class="row">
    		<h5>Japanese</h5>
    		<p>I wish to live in Japan someday, so i'm trying to learn their language. 日本語は難しいです、でもとても楽しい語よ！楽しいので勉強が易しいにあります！</p>
    	</div>
    </div>
    

    {% endblock %}