{% extends 'layout.html' %}

    {% block body %}

    <div class="container">
        <h5>Technologies that i know</h5>
        <img src="../static/img/skills/python.png" class="img-fluid t-card t-card">
        <img src="../static/img/skills/cs.png" class="img-fluid t-card">
        <img src="../static/img/skills/c.png" class="img-fluid t-card">
        <img src="../static/img/skills/java.png" class="img-fluid t-card">
        <img src="../static/img/skills/bootstrap.png" class="img-fluid t-card">
        <img src="../static/img/skills/php.png" class="img-fluid t-card">
        <img src="../static/img/skills/mysql.png" class="img-fluid t-card">
        <img src="../static/img/skills/flask.png" class="img-fluid t-card">
        <img src="../static/img/skills/mongo.png" class="img-fluid t-card">
        <img src="../static/img/skills/js.png" class="img-fluid t-card">
        <img src="../static/img/skills/node.png" class="img-fluid t-card">
        <img src="../static/img/skills/express.png" class="img-fluid t-card">

    </div>


    {% endblock %}