{% extends 'layout.html' %}

    {% block body %}

    <div class="container">
        <h5>Technologies that i know</h5>
        <figure class="figure border-lj">
            <img src="../static/img/skills/python.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-center">Python</figcaption>
        </figure>
        <figure class="figure border-lj">
            <img src="../static/img/skills/cs.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-center">C#</figcaption>
        </figure>
        <figure class="figure border-lj">
            <img src="../static/img/skills/c.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-center">C</figcaption>
        </figure>
        <figure class="figure border-lj">
            <img src="../static/img/skills/java.png" class="figure-img img-fluid rounded fill" alt="...">
            <figcaption class="figure-caption text-center">Java</figcaption>
        </figure>
        <figure class="figure border-lj">
            <img src="../static/img/skills/bootstrap.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-center">Bootstrap</figcaption>
        </figure>
        <figure class="figure border-lj">
            <img src="../static/img/skills/php.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-center">PHP</figcaption>
        </figure>
        <figure class="figure border-lj">
            <img src="../static/img/skills/mysql.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-center">MYSQL</figcaption>
        </figure>
        <figure class="figure border-lj">
            <img src="../static/img/skills/flask.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-center">Flask</figcaption>
        </figure>
        <figure class="figure border-lj">
            <img src="../static/img/skills/mongo.png" class="figure-img img-fluid rounded fill" alt="...">
            <figcaption class="figure-caption text-center">MongoDB</figcaption>
        </figure>
        <figure class="figure border-lj">
            <img src="../static/img/skills/js.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-center">JavaScript</figcaption>
        </figure>
        <figure class="figure border-lj">
            <img src="../static/img/skills/node.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-center">Node.js</figcaption>
        </figure>
        <figure class="figure border-lj">
            <img src="../static/img/skills/express.png" class="figure-img img-fluid rounded fill" alt="...">
            <figcaption class="figure-caption text-center">Express.js</figcaption>
        </figure>
        <figure class="figure border-lj">
            <img src="../static/img/skills/sklearn.png" class="figure-img img-fluid rounded fill" alt="...">
            <figcaption class="figure-caption text-center">Sci-kit learn</figcaption>
        </figure>
        <figure class="figure border-lj">
            <img src="../static/img/skills/pandas.png" class="figure-img img-fluid rounded fill" alt="...">
            <figcaption class="figure-caption text-center">Pandas</figcaption>
        </figure>

    </div>


    {% endblock %}