{% extends 'layout.html' %}

    {% block body %}

    <h3>My works:</h3>
    <div class="card mb-3 card-lj">
  		<div class="row no-gutters">
   			<div class="col-md-4">
     			<img src="../static/img/tapir.png" class="card-img" alt="...">
   			</div>
    	<div class="col-md-8">
      		<div class="card-body">
        		<h5 class="card-title">Project name</h5>
        			<p class="card-text">A little description about the site developed.</p>
      		</div>
      		<div class="card-footer">
      			<span class="badge badge-pill badge-light">Technology 1</span>
      			<span class="badge badge-pill badge-light">Technology 2</span>
      			<span class="badge badge-pill badge-light">Technology 3</span>
      		</div>
    	</div>
  	</div>

    </div>

    {% endblock %}