{% extends 'layout.html' %}

    {% block body %}

    <h3>My works:</h3>
    
    <div class="card mb-3 card-lj">
  		<div class="row no-gutters">
   			<div class="col-md-4">
     			<img src="../static/img/works/Project_monika.png" class="card-img" alt="...">
   			</div>
    		<div class="col-md-8">
      			<div class="card-body">
        			<h5 class="card-title">projectmonika.pythonanywhere.com</h5>
        			<p class="card-text">A web application for communication and file uploading between members of a group of developers</p>
      			</div>
      			<div class="card-footer">
      				<span class="badge badge-pill badge-light">Flask</span>
      				<span class="badge badge-pill badge-light">MySQL</span>
      			</div>
    		</div>
  		</div>
  	</div>

  	<div class="card mb-3 card-lj">
  		<div class="row no-gutters">
   			<div class="col-md-4">
     			<img src="../static/img/works/Project_monika.png" class="card-img" alt="...">
   			</div>
    		<div class="col-md-8">
      			<div class="card-body">
        			<h5 class="card-title">Project Monika API</h5>
        			<p class="card-text">API will make possible for the coders test scripts using the same data, and also allow a discord bot to acess it.</p>
      			</div>
      			<div class="card-footer">
      				<span class="badge badge-pill badge-warning">Under development</span>
      				<span class="badge badge-pill badge-light">Express</span>
      				<span class="badge badge-pill badge-light">MongoDB</span>
      				<span class="badge badge-pill badge-light">JavaScript</span>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="card mb-3 card-lj">
  		<div class="row no-gutters">
   			<div class="col-md-4">
     			<img src="../static/img/works/comunicapaovale.jpg" class="card-img" alt="...">
   			</div>
    		<div class="col-md-8">
      			<div class="card-body">
        			<h5 class="card-title">Comunicapaovale.com.br</h5>
        			<p class="card-text">A simple site for online disclosure of the company and easier email contact via a simple form</p>
      			</div>
      			<div class="card-footer">
      				<span class="badge badge-pill badge-light">PHP</span>
      				<span class="badge badge-pill badge-light">Bootstrap</span>
      			</div>
    		</div>
  		</div>
	</div>

  <p class="text-muted">Pro tip: Some of my projects are not online, but them can be found at my <a href="https://github.com/yancborges">Github account</a>

    {% endblock %}